#shout-container {
    display: block;
    margin-top: 22px;

    .block {
        min-width: 100%;
    }
}

.classes-text-grey {
    color: grey;
}

.teacher-icon {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    vertical-align: sub;
}

.teacher-icon-small {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    vertical-align: sub;
}
