<template id="thuum-shout">
    <div class="block block-rounded block-link-pop border-top border-thuum border-4x" v-if="isEnabled">
        <div class="text-center mb-1">
            <div class="row gutters-tiny">
                <div class="col-12 pt-3 font-size-lg mb-3" v-if="shout">
                    <img class="teacher-icon" v-bind:src="shout.teacher.media" />
                    <span>
                        {{ templateLangString('Thuum_Thuum_Shout_Title', { name: shout.teacher.name }) }}
                    </span>
                </div>

                <div class="col-12 pb-3 pr-3 pl-3" v-if="shout">
                    <div
                        v-for="modifier in modifiers"
                        :class="{ 'text-danger' : modifier.level === 1, 'text-success': modifier.isActive, 'thuum-text-grey': !modifier.isActive }"
                    >
                        <span v-if="!modifier.isActive">
                            (
                            <img class="skill-icon-xxs mr-1" :src="cdnMedia('assets/media/main/mastery_header.svg')" />
                            <span :class="{ 'text-danger' : modifier.level === 1, 'text-success': currentMasteryLevel >= modifier.level }">
                                {{ modifier.level }}
                            </span>
                            )
                        </span>
                        <span v-html="modifier.description"></span>
                    </div>
                </div>

                <div class="col-12 font-size-lg pt-3 pb-3" v-if="!shout">
                    <span>{{ getLangString('Thuum_Thuum_Shout_Not_Currently_Mastered') }}</span>
                </div>
            </div>
        </div>
    </div>
</template>
