.bg-thuum {
    background-color: #e5ae67;
}

.border-thuum,
.border-Thuum {
    border-color: #e5ae67 !important;
}

.thuum-color {
    color: #e5ae67;
}

.bg-thuum-50 {
    background-color: #e5ae673d;
}
