.bg-profile {
    background-color: #e5ae67;
}

.border-profile,
.border-Profile {
    border-color: #e5ae67 !important;
}

.profile-color {
    color: #e5ae67;
}

.bg-profile-50 {
    background-color: #e5ae673d;
}
