.bg-classes {
    background-color: #e5ae67;
}

.border-classes,
.border-Classes {
    border-color: #e5ae67 !important;
}

.classes-color {
    color: #e5ae67;
}

.bg-classes-50 {
    background-color: #e5ae673d;
}
